/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-scale: 1;
}



body {
  font-size: calc(16px * var(--font-scale));
}

h1 {
  font-size: calc(32px * var(--font-scale));
}

h2 {
  font-size: calc(24px * var(--font-scale));
}

p {
  font-size: calc(18px * var(--font-scale));
}

span {
  font-size: calc(16px * var(--font-scale));
}

/* и т.д. */


.Container {
  width: 1430px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;


  justify-content: center;
}





.Modal3Content {
  width: 400px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  border-radius: 5px;
}

:root {
  --select-bg: #ffffff;
  --select-text: #212121;
  --select-border: #d1d5db;
  --select-hover: #f3f4f6;
  --select-placeholder: #6b7280;
  --select-shadow: rgba(0, 0, 0, 0.1);
  --select-accent: #2563eb;
  /* blue-600 */
}

.dark {
  --select-bg: #181818;
  --select-text: #fafafa;
  --select-border: #929090;
  --select-hover: #2a2a2a;
  --select-placeholder: #9ca3af;
  --select-shadow: rgba(0, 0, 0, 0.4);
  --select-accent: #3b82f6;
  /* lighter blue */
}





/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.Category__Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 4;
  gap: 50px;
}

.Menu__Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 4;
  gap: 30px;
  padding: 18px 0px !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(16, 185, 129, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
  }
}

@media (max-width: 1300px) {
  .header {
    max-width: 89% !important;
  }
}

@media (max-width: 1100px) {
  .header {
    max-width: 85% !important;
  }
}

@media (max-width: 800px) {
  .header {
    max-width: 80% !important;
  }

  .Analiz {
    flex-direction: column !important;
  }

  .Analiz_1 {
    width: 100%;
    height: 400px !important;
  }

  .Analiz_2 {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .header {
    max-width: 75% !important;
  }

  .dashboard_wrapper {
    flex-wrap: wrap;
  }


}

@media (max-width: 530px) {
  .WarehouseSidebar {
    width: 80px !important;
    padding: 5px
  }

  .header {
    left: 90px !important;
  }

  .WarehouseLayout {
    padding-left: 90px;
  }

  .WarehouseSidebar a {
    padding: 5px;
  }

  .header {
    padding: 5px;
  }
}


@media (max-width: 475px) {
  .WarehouseSidebar {
    left: 3px;
  }

  .WarehouseSidebar svg {
    width: 20px !important;
    height: 20px !important;
  }

  .WarehouseSidebar span {
    font-size: 10px !important;
  }
}

@media (max-width: 380px) {
  .WarehouseSidebar {
    width: 70px !important;
  }

  .header {
    left: 80px !important;
  }

  .WarehouseLayout {
    padding-left: 80px;
  }

  .iconHeader {
    display: none;
  }

  .header__profile_per {
    padding: 5px 2px !important;
  }
}

@media (max-width: 340px) {
  .backbtn {
    padding: 10px 10px !important;
  }
}