/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-scale: 1;
}

@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}


body {
  font-size: calc(16px * var(--font-scale));
}

h1 {
  font-size: calc(32px * var(--font-scale));
}

h2 {
  font-size: calc(24px * var(--font-scale));
}

p {
  font-size: calc(18px * var(--font-scale));
}

span {
  font-size: calc(16px * var(--font-scale));
}

/* и т.д. */


.Container {
  width: 1430px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;


  justify-content: center;
}





.Modal3Content {
  width: 400px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  border-radius: 5px;
}





/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.Category__Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 4;
  gap: 50px;
}

.Menu__Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 4;
  gap: 30px;
  padding: 18px 0px !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(16, 185, 129, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
  }
}